/* give tables inner borders and padding */
table, th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    /* the first column of the table is much bigger than the rest */
    width: 100%;
    table-layout: fixed;
    
}