body {
    font: 100%/1.5 sans-serif;
    background-color: #eee;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 3px 4px #282828;
}

label {
    width: 90px;
    text-align: right;
}
input {
    background-color: #cf1a0e19;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

input:invalid {
    border: 1px solid red;
    background-color: #cf1a0e19;
    color: rgb(255, 255, 255);
}

input:valid {
    border: 1px solid black;
}


center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

body {
    background: linear-gradient(-45deg, #ffea05, #ff531f, #cc1eb5, #2f34c6, #56f59b, #3cf708);
    background-size: 600% 700%;
    animation: gradient 20s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}





/* 
  input[type="password"]::placeholder {
    text-align: center;
} */
input[type="password"]::placeholder {
    color: rgba(211, 211, 211, 0.801)
}



/* input[type="name"]:: -ms-input-placeholder {
    text-align: center;
} */

/* input[type="period"]:: -ms-input-placeholder {
    text-align: center;
} */

/* input[type="email"]:: -ms-input-placeholder {
    text-align: center;
  }
  input[type="email"]:: -ms-input-placeholder {
      text-align: center;
  } */


input[type="submit"] {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    /* background-color: #50a145; */
    background-color: rgb(255, 255, 255);
}

input[type="back"]:hover {
    background-color: #b92924;
}

/* Style the button */
button#togglePassword {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}



button#togglePassword:hover {
    background-color: rgb(255, 255, 255);
}