center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

body {
    font: 100%/1.5 sans-serif;
    background-color: #eee;
    background: linear-gradient(-45deg, #c1c1c1, #b2b3b3, #88888a, #5a5a5a, #4a4a4a, #5a5a5a, #88888a, #b2b3b3, #c1c1c1);
    background-size: 600% 700%;
    animation: gradient 30s infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #343434;
}

label {
    width: 90px;
    text-align: right;
}

input {
    background-color: #cf1a0e19;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center
}

input:invalid {
    border: 1px solid rgb(255, 0, 0);
    background-color: #cf1a0e19;
    color: rgb(255, 255, 255);
}

input:valid {
    border: 1px solid black;
}

#back {
    position: absolute;
    top: 0;
    left: 0;
}

#name:valid {
    background-color: #2ed13363;
    color: black;
}

#period:valid {
    background-color: #2ed13363;
    color: black;
}

#email:valid {
    background-color: #2ed13363;
    color: black;
}

#name {
    width: 200px;
}

#period {
    width: 200px;
}

#email {
    width: 200px;
}