center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

body {
  background: linear-gradient(-45deg, #ffea05, #ff531f, #cc1eb5, #2f34c6, #56f59b, #3cf708);
  background-size: 600% 700%;
  animation: gradient 20s infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#flash-message{
  padding: 1px;
  margin: 1px;
}
  
/* 
  input[type="password"]::placeholder {
    text-align: center;
} */
input[type="name"]::placeholder, input[type="emailAddress"]::placeholder, 
input[type="number"]::placeholder, input[type="email"]::placeholder, 
input[type="password"]::placeholder, input[type="text"]::placeholder
{
  text-align: center;
  color:rgba(211, 211, 211, 0.801)
}

 

/* input[type="name"]:: -ms-input-placeholder {
    text-align: center;
} */

/* input[type="period"]:: -ms-input-placeholder {
    text-align: center;
} */

/* input[type="email"]:: -ms-input-placeholder {
    text-align: center;
  }
  input[type="email"]:: -ms-input-placeholder {
      text-align: center;
  } */

  
input[type="submit"], input[type="button"] {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover , input[type="button"]:hover {
  /* background-color: #50a145; */
  background-color: rgb(255, 255, 255);
}

input[type="back"]:hover {
  background-color: #b92924;
}
  

