/* give tables inner borders and padding */
table, th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    table-layout: fixed;
    font-weight: bold;
}

.search-input,
.tableheader, .tableinput {
    padding: 0.6em 1em;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

input[name="actionbutton"] {
    width: 50%;
}

.tableheader {
    text-align: center;
    color: rgba(211, 211, 211, 0.801);
}

input {
    text-align: center;
    color: black;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
    -webkit-appearance: none;
    margin: 0;
    background: none;
    border:none;
    font-size: large;
    font-weight: bold;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    background: none;
}

#periodTableHeader {
    font-size: 15px;
}


#name:valid {
    background-color: #33db3990;
    color: black;
}

#period:valid {
    background-color: #33db3990;
    color: black;
}

#email:valid {
    background-color: #33db3990;
    color: black;
}

#name {
    width: 200px;
}

#period {
    width: 200px;
}

#email {
    width: 200px;
}