<!DOCTYPE html>
<html>

<head>
    <title>Mrs. Tan's Rewards Points</title>
</head>

<body>
    <h1>Mrs. Tan's Rewards Points</h1>
    <form method="post">
        <!-- Input box for password, buttons for login and sign up -->
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button> Login </button>
        </div>
        <div>
            <button> Sign Up </button>
        </div>
    </form>

</body>

</html>