{% extends "base.html" %}


{% block title %} Register Page {% endblock %}


{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">

{% endblock %}


{% block content %}


<center>
    <h1>
        Signup
    </h1>

    <form action="#" method="post">
        <input type="name" name="name" id="name" placeholder="Full name"required />
        <br><br>
        <input type="number" name="period" min="1" max="8" id="period" placeholder="Period #"required />
        <br><br>
        <input type="emailAddress" name="email" id="email" pattern=".+@bernardsboe\.com" placeholder="School Email"required />
        <br><br>
        <input type="submit" value="Sign Up" >
    </form>

    <br>

    <form action="login" id="back" method="get">
        <input type="submit" value="Back">
    </form>

</center>


{% endblock %}