{% extends "base.html" %}


{% block title %} Student View {% endblock %}


{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">

{% endblock %}

{% block content %}

<h1>Welcome, {{ student.name }}</h1>
<br><br>
<h2>Your Email: {{student.email }}</h2>
<br>
<h2>Your Class Period: {{student.period }}</h2>
<br>
<h1>You have {{ student.rp }} rewards points!</h1>

<br><br>


<div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>

<form action="logout" method="get" class="logoutForm">
    <input type="submit" value="Logout">
</form>

<!-- 
<style>
    
    .star:nth-child(51) {
        --star-tail-length: {{random_tail_length}}em;
        --top-offset: 55.05vh;
        --fall-duration: 2.758s;
        --fall-delay: 1.082s;
    } 
    
    .star:nth-child(52) {
        --star-tail-length: {{random_tail_length}}em;
        --top-offset: 100.05vh;
        --fall-duration: 2.758s;
        --fall-delay: 1.082s;
    } 
    /* fix the issue that they loop after the delay time repeatidly */
    .star:nth-child(53) {
        --star-tail-length: {{random_tail_length}}em;
        --top-offset: 20.05vh;
        --fall-duration: 2.758s;
        --fall-delay: 1.082s;
    } 

</style> -->




{% endblock %}