
{% extends "base.html" %}
{% block title %} {{ student.name }} {% endblock %}
{% block styles %} <link rel="stylesheet" href="../static/student.css"> {% endblock %}
{% block content %}

<head>
    <h1>
        hello
    </h1>
</head>
    <h1>test</h1>
    
    {{ student.name }}
    <br>
    {{student.email }}
    <br>
    {{student.period }}
    <br>
    {{ student.rp }}
   <body>
    <h1> 
        {{ student.name }} has {{ student.rp }} reward points!
     </h1>

    <style>
        /* PUT YOUR STYLES HERE FOR NOW IF IT WORKS, MATTHIAS */
    </style>
    
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>




{% endblock %}