{% extends "base.html" %}


{% block title %} Teacher View {% endblock %}


{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='teacher.css') }}">

{% endblock %}


{% block content %}

<script src="../static/teacher.js"></script>


<h1>Teacher View</h1>
<h2>Welcome, Teacher!</h2>

<!-- DISPLAY ALL STUDENT DATA IN A TABLE -->
<!-- each student has a name, period, email, password, and rewards points -->

<form action="#" method="post">
<table contenteditable="false">
    <thead>
        <tr>
            <th>
                <input type="text" class="search-input" placeholder="Full Name">
            </th>
            <th>
                <input type="number" class="search-input" in="1" max="8" placeholder="Period #">
            </th>
            <th>
                <input type="text" class="search-input" placeholder="Email">
            </th>
            <th>
                <input type="text" class="search-input" placeholder="Password" >
            </th>
            <th>
                <!-- <input type="text" class="search-input" placeholder="Rewards Points"> -->
                <div class="tableheader">Rewards Points</div>
            </th>
            <th>
                <div class="tableheader">Actions</div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <input type="hidden" name="studentname{{loop.index0}}" value="{{student.name}}">
            
            <td>{{ student.period }}</td>
            <input type="hidden" name="studentperiod{{loop.index0}}" value="{{student.period}}">

            <td>{{ student.email }}</td>
            <input type="hidden" name="studentemail{{loop.index0}}" value="{{student.email}}">

            <td>{{ student.password }}</td>
            <input type="hidden" name="studentpassword{{loop.index0}}" value="{{student.password}}">

            <td contenteditable="true">{{ student.rp }}</td>
            <input type="hidden" name="studentrp{{loop.index0}}" value="{{student.rp}}">

            <td>
                <input class="addbutton" type="button" name="actionbutton" value="add">
                <input class="subtractbutton" type="button" name="actionbutton" value="subtract">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- POTENTIAL SOLUTION FOR SAVE CHANGES FUNCTIONALITY: -->
<!-- https://stackoverflow.com/questions/51803008/send-table-data-via-form-to-flask-method -->

<input type="submit" value="Save Changes">
</form>

<br><br>

<form action="logout" method="get">
    <input type="submit" value="Logout">
</form>

{% endblock %}