{% extends "base.html" %}


{% block title %} Teacher View {% endblock %}


{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='teacher.css') }}">

{% endblock %}


{% block content %}

<script src="../static/teacher.js"></script>


<h1>Teacher View</h1>
<h2>Welcome, Teacher!</h2>

<!-- DISPLAY ALL STUDENT DATA IN A TABLE -->
<!-- each student has a name, period, email, password, and rewards points -->

<form action="#" method="post">
<table contenteditable="false">
    <thead>
        <tr>
            <!-- make the first column (id) smaller -->
            <th style="width: 40%">
                <!-- <div class="tableheader">ID</div> -->
                <input type="number" class="search-input" placeholder="ID">
            </th>
            <th>
                <input type="text" class="search-input" placeholder="Full Name">
            </th>
            <th>
                <input type="number" class="search-input" placeholder="Period #" id="periodTableHeader">
            </th>
            <th style="width: 120%">
                <input type="text" class="search-input" placeholder="Email">
            </th>
            <th>
                <input type="text" class="search-input" placeholder="Password" >
            </th>
            <th>
                <!-- <input type="text" class="search-input" placeholder="Rewards Points"> -->
                <div class="tableheader">Rewards Points</div>
            </th>
            <th>
                <div class="tableheader">Actions</div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>
                <input class="tableinput" type="hidden" name="studentid{{loop.index0}}" value="{{student._id}}">
                {{ student._id }}
            </td>

            <td>
                <!-- {{ student.name }} -->
                <input class="tableinput" type="text" name="studentname{{loop.index0}}" value="{{student.name}}">
            </td>
            
            <td>
                <!-- {{ student.period }} -->
                <input class="tableinput" type="number" name="studentperiod{{loop.index0}}" value="{{student.period}}">
            </td>

            <td>
                <!-- {{ student.email }} -->
                <input class="tableinput" type="text" name="studentemail{{loop.index0}}" value="{{student.email}}">
            </td>

            <td>
                <!-- {{ student.password }} -->
                <input class="tableinput" type="number" name="studentpassword{{loop.index0}}" value="{{student.password}}" >
            </td>

            <!-- TODO: style this input tag -->
            <td>
                <!-- {{student.rp}} -->
                <input type="number" name="studentrp{{loop.index0}}" value="{{student.rp}}"></td>

            <td>
                <input class="addbutton" type="button" name="actionbutton" value="add">
                <input class="subtractbutton" type="button" name="actionbutton" value="subtract">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- POTENTIAL SOLUTION FOR SAVE CHANGES FUNCTIONALITY: -->
<!-- https://stackoverflow.com/questions/51803008/send-table-data-via-form-to-flask-method -->

<input type="submit" value="Save Changes">
</form>

<br><br>

<form action="addstudent" method="post">
    <input class="add-student" type="name" name="name" id="name" placeholder="Name"required />
    <br><br>
    <input class="add-student" type="number" name="period" min="1" max="8" id="period" placeholder="Period #"required />
    <br><br>
    <input class="add-student" type="emailAddress" name="email" id="email" placeholder="Email"required />
    <br><br>
    <input type="checkbox" name="sendEmailToggle" id="sendEmailToggle" value="sendEmailToggle"/> Send password to their email?
    <br>
    <input type="submit" value="Add Student" >
</form>
<style>
    .add-student {
        background-color: #cf1a0e19;
        /* color: white; */
        /* border: 1px solid white; */
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        text-align: center;
        width: 200px;
    }

    .add-student:invalid {
        border: 1px solid rgb(255, 0, 0);
        background-color: #cf1a0e19;
        color: rgb(255, 255, 255);
    }
</style>

<!-- styles for the above form -->
<!-- <style>
    input {
        background-color: #cf1a0e19;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        text-align: center
    }

    input:invalid {
        border: 1px solid rgb(255, 0, 0);
        background-color: #cf1a0e19;
        color: rgb(255, 255, 255);
    }

    #back {
        position: absolute;
        top: 0;
        left: 0;
    }

    #name:valid {
        background-color: #2ed13363;
        color: black;
    }

    #period:valid {
        background-color: #2ed13363;
        color: black;
    }

    #email:valid {
        background-color: #2ed13363;
        color: black;
    }

    #name {
        width: 200px;
    }

    #period {
        width: 200px;
    }

    #email {
        width: 200px;
    }
</style> -->

<br><br>

<form action="deletestudent" method="post">
    <input type="number" name="studentid" placeholder="Student ID" required>
    <input type="submit" value="Delete Student">
</form>

<br><br>

<form action="logout" method="get">
    <input type="submit" value="Logout">
</form>

{% endblock %}